*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  :root {
    --theme-bg-color: rgba(16, 18, 27, 0.496);/*original*/
    /*--theme-bg-color: rgba(9, 71, 55, 0.418);/**/
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgba(35, 38, 51, 0.78);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg:  #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);
  
    /*fonts*/
    --whiteColor-text:  rgba(240, 248, 255, 0.636);
    --PT-Sans: 'PT Sans', sans-serif; 
    --Open-Sans: 'Open Sans', sans-serif; 
   }  




   


